<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="created.by.yomibass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="created.by.yomibass.StaffProfileUpdate"></activity>
        <activity android:name="created.by.yomibass.LiveChat" />
        <activity
            android:name="created.by.yomibass.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="created.by.yomibass.DBLoginRegister"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name="created.by.yomibass.DBLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.DBRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.ChatPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.SignUpLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.VendorLogin"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.StaffLogin"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.MdaLogin"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.VendorSignup1"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.VendorSignup2"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.VendorDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.VendorProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.PlacesView"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.PlacesToVisit"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.ExploreKaduna"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.RestaurantView"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.RestaurantsToVisit"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.HelpDesk"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.ShoppingCentresToVisit"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.HotelsToVisit"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.MdaUpdate2"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.MdaUpdate1"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.MdaProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.StaffDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="created.by.yomibass.MdaDashboard"
            android:screenOrientation="portrait" />
    </application>

</manifest>