<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ndif_yemmanuel.trackpay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LiveChat"></activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DBLoginRegister"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".DBLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DBRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VendorLogin"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StaffLogin"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MdaLogin"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VendorSignup1"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VendorSignup2"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VendorDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VendorProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlacesView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlacesToVisit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExploreKaduna"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RestaurantView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RestaurantsToVisit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpDesk"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShoppingCentresToVisit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HotelsToVisit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MdaUpdate2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MdaUpdate1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MdaProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StaffDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MdaDashboard"
            android:screenOrientation="portrait" />
    </application>

</manifest>